@import url('https://fonts.cdnfonts.com/css/kumbh-sans');
/************************* 
        VARIABLE 
**************************/
:root {
    --noir: #000;
    --blanc: #fff;
    --blanc-creme: #E6CBA8;
    --brun: #8B5E3B;
    --vert: #A7C957;
    --gris: #5C6B73;
    --ocre: #D4A373;
    --beige: #E6CBA8;
}

/************************* 
        Généralisation 
**************************/
body {
    font-family: "Kumbh Sans";
    color: var(--noir);
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 48pt;
}

h2 {
    font-size: 24pt;
}

a {
    text-decoration: none;
    color: var(--brun);
    font-weight: bold;
}

p {
    font-size: 16pt;
    line-height: 1.2;
}

img {
    height: 300px;
    width: auto;
}

/************************* 
        Header 
**************************/
header {
    height: 4em;
    width: 100%;
    background-color: var(--gris);
    position: fixed;
    top: 0;

    display: flex;
    flex-direction: row;
}

header img {
    margin: 0 1em 0 5em;
    height: 100px;
    width: auto;
}
header a {
    color: var(--blanc);
}

nav {
    width: 20em;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

/************************* 
        Main 
**************************/

main {
    margin: 4em 8em;
    text-align: justify;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.respect img {
    float: right; /* Permet au texte de s'enrouler autour */
    margin: 0 0 0.5em 1.5em;
    width: 350px; 
    height: auto; 
    border-radius: 10px;
}