@import url('https://fonts.cdnfonts.com/css/kumbh-sans');

/************************* 
        VARIABLE 
**************************/
:root {
    --noir: #000;
	--gris: #222;
    --blanc: #fff;
    --marron: #6E462A;
    --marron-bi: #2e1a00;
    --marron-fonce: #1c0f00;
    --vert-clair: #A7C957;
    --vert-moyen: #76923C;
    --vert-fonce: #20352e;
    --bleu: #2B95B5;
    --ocre: #D4A373;
    --beige: #E6CBA8;

    --bg-fromage-vert: linear-gradient(37deg, rgba(64, 35, 1, 1) 75%, rgba(118, 146, 60, 1) 93%);
    --bg-fromage-ocre: linear-gradient(37deg, rgba(64, 35, 1, 1) 75%, rgba(212, 163, 115, 1) 93%);
    --bg-fromage-bleu: linear-gradient(37deg, rgba(64, 35, 1, 1) 75%, rgba(43, 149, 181, 1) 93%);
}

/************************* 
        Généralisation 
**************************/
body {
    font-family: "Kumbh Sans";
    color: var(--blanc);
    padding: 0;
    margin: 0;
}

button {
    font-size: 12pt;
    font-family: "Kumbh Sans";
    font-weight: bold;

    background-color: var(--ocre);
    color: var(--blanc);
    border: none;
    border-radius: 5px;
    padding: 0.5em;
    cursor: pointer;
}

h1 {
    font-size: 48pt;
}

h2 {
    font-size: 24pt;
}

h3 {
    font-size: 18pt;
}

h4 {
    font-size: 16pt;
}

a {
    text-decoration: none;
    color: var(--marron);
    font-weight: bold;
}

p {
    font-size: 12pt;
    line-height: 1.2;
}

img {
    height: 300px;
    width: auto;
}

/************************* 
        Header 
**************************/
header {
    height: 4em;
    width: 100%;
    background-color: var(--vert-fonce);
    border-bottom: 10px solid var(--vert-clair);
    position: fixed;
    top: 0;
    z-index: 99;

    display: flex;
    flex-direction: row;
}

header img {
    position: absolute;
    margin: 0 1em 0 5em;
    height: 100px;
    width: auto;
}

header a {
    color: var(--blanc);
    margin: 1em;
}

header button {
	position: absolute;
	right: 3em;
	top: 0.5em;
	height: 23px;
	width: auto;
	padding: 5px;
}

header button img {
	height: 32px;
	width: auto;
	z-index: 999;
	margin: 0;
	padding: 0;
}

header a:hover {
    padding-bottom: 2px;
    border-bottom: 2px solid var(--blanc);
}

nav {
    position: relative;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    align-items: center;
}

/*************************** 
        Page d'acceuil 
****************************/

h1 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: var(--blanc);
}

h1+h1 {
    position: absolute;
    font-size: 35pt;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}

main {
    padding-top: 8em;
    background-color: var(--vert-fonce);
}

main>img {
    margin-top: -3.5em;
    width: 100%;
    height: auto;
}

section {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;

    padding: 0 3em;
    max-width: 110em;
    margin: auto;
}

.a_propos {
    order: 1;
}

.respect {
    order: 2;
}

.locale {
    order: 3;
}

.a_propos,
.respect,
.locale {
    width: 400px;
    height: auto;
    margin: 1em;
    padding: 0.5em;
    border-radius: 15px;
    text-align: center;
}

.a_propos h2,
.respect h2,
.locale h2 {
    height: 2.5em;
}

.a_propos div,
.respect div,
.locale div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.a_propos img,
.respect img,
.locale img {
    margin: 0.2em;
    width: 370px;
    height: auto;
    border-radius: 5px;
}

iframe {
    height: 30em;
    width: 50em;
    border: none;
    margin: 2em auto;

    display: block;
}

/****************************** 
        Page de vente 
*******************************/

.ventes {
    background-color: var(--marron-fonce);
}

.ventes section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 1em;
    justify-content: space-around;
}

.ventes article {
    width: 25em;
    margin: 0 auto;
    padding: 1.5em;
    height: 35em;
    position: relative;
    border-radius: 15px;
    margin-bottom: 2em;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.buche {
    background: var(--bg-fromage-vert);
}

.tome {
    background: var(--bg-fromage-ocre);
}

.fondant {
    background: var(--bg-fromage-bleu);
}

.ventes article>img {
    width: 100%;
    height: auto;
    margin: 0.5em 0 1em;
    border-radius: 20px;

    display: flex;
    align-self: center;
}

.ventes article h3 {
    text-align: left;
}

.ventes p {
    flex-basis: 20%;
}

.ventes article p+div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.ventes button {
    height: 3.5em;
    padding: 1.5em;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14pt;
    background-color: var(--ocre);
    color: var(--blanc);

    display: flex;
    align-items: center;
    justify-content: center;
}

.ventes button img {
    width: 25px;
    height: auto;
    margin-right: 10px;
}
#panierToast {
    position: fixed;
    top: 0;
    right: -350px;
    width: 300px;
    height: 100%;
    background: var(--gris);
    color: var(--blanc);
    padding: 20px;
    transition: right 0.4s ease;
    overflow-y: auto;
    z-index: 9999;
}

#panierToast h3 {
	display: flex;
	align-items: center;
	justify-content: center;
}

#panierToast h3 > button {
	background-color: var(--gris);
	border: none;
	display: inline;
	padding: 0;
	margin-left: 0.5em;
	height: 55px;
}

#panierToast h3 > button img{
	width: 50px;
	height: auto;
	margin: 0;
}

#panierToast.visible {
    right: 0;
}